<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include('./partials/userHeader');%>
        <style>
          td, th{
            border: 1px solid;
          }
        </style>
    </head>
    <body onload="essentials(),checkDate()">
  <header id="header"> </header>
  <%- include('./partials/sideNav'); %><br/>
<%- include('./partials/usernav'); %>
 

<div id='usercontent' class="tab-content">
  <table style="width:100%; text-align: center;">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Matriculation Number</th>
        <th>Course</th>
        <th>Semester</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user){ %>
      <tr>
        <td><%= user.value.firstname %></td>
        <td><%= user.value.lastname %></td>
        <td><%= user.value.matriculationnumber %></td>
        <td><%= user.value.course %></td>
        <td><%= user.value.semester %></td>
        <td><%= user.value.email %></td>
        <td>
          <form method="post" action="/user/delete/<%= user.id %>">
            <input type='hidden' value='<%= user.value.rev%>' name='rev'>
            <input type='submit' value='Delete'>
          </form>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>    
</div>


    <footer id="footer"></footer>
      <script> 
        
        var i= document.getElementById("user_info");
        
        i.className +=" active";

        var j=document.getElementById("user_tab");
      
      j.className +=" active";
        
        </script>
</body>
</html>