<meta content-type="application/javascript"    charset="UTF-8" name="keywords" content="HTML,CSS,Javascript">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin Election Page</title>
<!-- CSS load-->
<link rel="stylesheet" type="text/css" href="./../../blockChainStyle.css">
<style>
   
 
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
  margin:0;
}
#header {
    overflow: hidden;
    background-color:midnightblue;
    padding:20px;
}

#title
{
    color:white;
    text-align:left;
   font-size:20px;
   text-decoration:none;

}
.main{
  min-height: calc(100vh - 158px)
}
#hlogin{
  position:absolute;
    text-align:left;
    color:white;
   text-decoration:none;
   left:95%;
}
h2 {
    text-align: center;
    font-size: 35px;
}

div.article {
    margin: 10%;
    border: 2px solid black;
    width: 60%;
    height: 80%;
    line-height: 1.5;
    margin-inline: auto;
}

form {
    padding: 4%;
    display: table;
    margin: 0 auto;
    font-size: 18px;
}
label{
    padding-right:5px;
}
input[type=text], select {
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    resize: vertical;
    margin-top: 5px;
    margin-bottom: 15px;
}
input[type=date]{

    display: block;
    margin-top:10px;
    margin-bottom: 10px;
    padding:5px;
}
input[type=submit]:hover {
    background-color: midnightblue;
    cursor: pointer;
    color: white;
   
    border-image: initial;
    text-align: center;
    padding: 3px 23px;
    border-radius: 5px;
}
#delete form {
    margin:0 0;
}
span#remindPasswd {
    border: 1px solid black;
    font-size:12px;
    padding:5px;
}
p {
    
    text-align: inherit;
    font-size: 13px;
}
span
{
    font-size: 17px;
}
#showall div p,.tab-content div p{

    text-align: inherit;
    font-size: 15px;
    padding-left: 20px;
}
#showall b,.tab-content b{ 


font-size: 17px;

}
#showall div b,.tab-content div b{


font-size: 15px;

}
.pagetitle{
padding-top:7px;
padding-left:10px;
font-weight:bolder;
font-size: 19px;
}
.tabs{

overflow:hidden;
border:1px solid lightsteelblue;
background-color: lightsteelblue;

}
.tabs a{
background-color:inherit;
float:left;
cursor: pointer;
padding:14px 6px;
transition: 0.2s;
font-size: 17px;
text-decoration: none;
color:black
}
.tabs a:hover,.tabs a.active {
background-color: lavender;
}
.endOfanEntry{
    text-align:center;
}
li{
list-style-type: none;

padding-left: 15px;
padding-top: 15px;
}
#delete,div#result{
    
    padding :3%;
    display: block;
}

div#audit_body{
padding:20px;
font-size:20px;
padding-bottom: 10%;;

}
div#audit_body p{

font-size:20px;
padding: 5px;;

}
#all_audit{
font :bold 17px Arial;

background-color:#F1F6FD;
cursor: pointer;
padding:6px 6px 6px 9px;
transition: 0.2s;
text-decoration: none;
color : #333333;
border-top:1px solid #cccccc;
border-left:1px solid #cccccc;
border-bottom:1px solid #333333;
border-right:1px solid #333333;
border-radius:5px;
}
#all_audit:hover,#all_audit:active{
font :bold 17px Arial;
background-color:midnightblue;
cursor: pointer;
padding:6px 6px 6px 9px;
transition: 0.2s;
text-decoration: none;
color : white;
border-top:1px solid #cccccc;
border-left:1px solid #cccccc;
border-bottom:1px solid #333333;
border-right:1px solid #333333;
border-radius: 5px;
}
div#result_page{
padding:15px;
    padding-bottom:10%
}
.announcement{
    text-decoration: underline;
    text-emphasis: bold;
    font-size:20px;

}

#declare{
font-size:20px;


}
#result{
    font-size:19px; 

}
li#result_list{
    font-size: 19px;
}

div#result_page p{
    font-size:17px;
}
#footer {
    overflow: hidden;
    background-color: midnightblue;
    padding: 10px;
    max-height:300px;
    //top:85%;
    //position: absolute;;
    
    //width:99%;
}
#footer p
{
color:antiquewhite
}


</style>
<script >
// JavaScript source code

var partybranch={
           "fb-1":["Bears","Lions","Justice"],
           "fb-2":["Coders","Quantum"],
           "fb-3":["League","Potion","Rockers"]
       }
     
function essentials() {
    document.getElementById("header").innerHTML = "<span id=" + " title" + ">e-Voting</span>";

    document.getElementById("footer").innerHTML =
        " <p><b>  " + "Our lives begin to end the day we become silent about things that matter." + "</b > <br />"
    + "&#8212;  Dr.Martin Luther King, Jr., civil rights leader and Nobel Peace Prize laureate </p>";
}
function branchDropDown(){
           
           var branchSel=document.getElementsByClassName("branchname");
           var partySel=document.getElementsByClassName("partyname")
      
       
       for(var x in partybranch){
           for(var y=0;y<branchSel.length;y++){
           branchSel[y].options[branchSel[y].options.length]=new Option(x,x);
       }}

    }

       function partyDropDown(m,q){ 

        var branchSel=m.form.getElementsByClassName("branchname");
           var partySel=m.form.getElementsByClassName("partyname");
          
           branchSel[q].onchange=function(){
           
           partySel[q].length=1;
            partySel[q].options[0]=new Option("please select party","");

            var z=partybranch[this.value];
            
            for(var i=0;i<z.length;i++){
                partySel[q].options[partySel[q].options.length]=new Option(z[i],z[i]);
            }
        }
       }


    

function toCapitalCase(Str){
Str=Str.toLowerCase();
Str=Str.charAt(0).toUpperCase()+Str.slice(1);
return Str;

}
function validateAddElection(m){

var x1=m.user1;
var x2=m.user2;
var x3=m.user3;


if(x1.value.length<3|x2.value.length<3|x3.value.length<3){
    alert("Please provide correct name of the candidate ");
    return false;
}

x1.value=toCapitalCase(x1.value);
x2.value=toCapitalCase(x2.value);
x3.value=toCapitalCase(x3.value);

if(x1.value==x2.value|x1.value==x3.value|x3.value==x2.value){
    alert("Same Candidate as Contestant");
    return false;
}
var f1=checkCandidate(x1);
var f2=checkCandidate(x2);
var f3=checkCandidate(x3);

 if(f1==0|f2==0|f3==0){
     alert("Contestant is not registered Student ")
     return false;
 }


}
function checkCandidate(Str){ 
            flag=0;
          "  <% elections.forEach(function(election){ %>"
           if("<%=election.value.type%>"=='student'){

               if(Str.value == "<%= election.value.fname %>" ){
                 flag=1;
               }
              
           }
       "<% });%>"
        return flag;}

        function checkDate(){ 
            var date = new Date();
            var mydiv= document.getElementById('result');

          "  <% elections.forEach(function(election){ %>"
           if("<%=election.value.type%>"=='election'){
                var electionDate = new Date("<%= election.value.election_date %>");
               if(date.getTime() > electionDate.getTime() ){
                 
                var anchorTag = document.createElement('a');
                 anchorTag.setAttribute('href',"/try");
                 anchorTag.setAttribute('onclick','/try');
                 anchorTag.innerText = "<%= election.value.election_name %>\n\n";
                 mydiv.appendChild(anchorTag);
               }
               else{
                   flag=0
               }
              
           }
       "<% });%>"
        return flag;}

</script>
